.lbl-box {
  stroke: rgb(66, 111, 122);
  stroke-width: 0.5;
  fill: #eee99c80;
}

.lbl-text {
  font-size: 14px;
  user-select: none;
}

.lbl-input {
  border: 0;
  font-size: 14px;
  font-family: inherit;
  outline: none;
}

.node-txt {
  font-size: 14px;
  font-weight: bold;
  font-family: arial, sans-serif;
}

.source {
  display: none;
}

.grabbable:hover+text+.source,
text:hover+.source,
.source:hover {
  display: block;
}

.grabbable {
  cursor: move;
  cursor: grab;
}

.wp-svg {
  position: relative;
  overflow: hidden;
  cursor: move;
}

.wp-svg:active,
.grabbable:active {
  cursor: grabbing;
}

.connectable:hover {
  stroke: rgb(34, 112, 79);
}

.the-svg {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.connector {
  fill: none;
  stroke-width: 1.25;
}

.no-select {
  user-select: none;
}

.pointer {
  cursor: pointer;
}